<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100 fondoamarillo1">
        <div class="text-center bg-dark text-white p-5">
            <img src="/img/404v2.png" class="imagen">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="amarillo">Opps!</span> Pagina no encontrada</p>
            <p class="lead">La pagina que esta buscando no existe</p>
            <p class="lead">Intentalo de nuevo o vuelve al <a href="/" class="amarillo2">inicio</a> </p>
            </div>
        </div></body>
</html>