<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido confirmado</title>
</head>
<body class="fondoamarillo">
    <div class="m-3 flex centro he100 ">
        <div class="border flex bg-white columna centro radio">
            <a href="/"><img src="/img/logoblanco.png" class="imagen"></a>
            <div class="flex">
                <i class="fa-regular fa-circle-check text-success tamañoi my-5 mx-3"></i>
                <h1 class="text-success my-5 mx-3">Su pedido ha sido confirmado, pronto entrará en cocina</h1> 
            </div>
  
        </div>
    </div>
</body>
</html>